@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    margin-bottom: 0px;
    padding: 15px 70px;
}

.navbar a {
    color: white !important;
}

.navbar-brand strong{
	font-size: 24px;
}

.navbar-inverse {
    background-color: #212529;
    border-color: #080808;
}

.text-center {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #2c3e50;
}

.text-center span {
    color: #e74c3c;
    font-weight: bold;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 100%;
    max-width: 1000px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 2s ease;
    border-radius: 10px;
}