<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle Inmueble</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
	<nav th:replace="HeaderNavAdministrador :: nav"></nav>
	<br>
	<div class="container">
	    <div class="row">
	        <div class="col-lg-8 col-md-10 col-sm-12 container justify-content-center card">
	            <h1 class="text-center">Detalle del Inmueble</h1>
	            <div class="card-body">
	
	                <p><strong>Nombre:</strong> <span th:text="${inmueble.nombre}"></span></p>
	                <p><strong>Capacidad:</strong> <span th:text="${inmueble.capacidad}"></span></p>
	                <p><strong>Número de Habitaciones:</strong> <span th:text="${inmueble.numeroHabitaciones}"></span></p>
	                <p><strong>Descripción:</strong> <span th:text="${inmueble.descripcion}"></span></p>
	                <p><strong>Servicios Incluidos:</strong> <span th:text="${inmueble.serviciosIncluidos}"></span></p>
	                <p><strong>Disponibilidad:</strong> <span th:text="${inmueble.disponibilidad}"></span></p>
	                <p><strong>Precio por Noche:</strong> S/. <span th:text="${inmueble.precioPorNoche}"></span></p>
	                <p><strong>Imagen de Habitación:</strong></p>
	                <img th:src="${inmueble.imagenHabitacion}" alt="Imagen del inmueble" class="img-fluid mb-3" style="max-height:300px;">
	                <p><strong>Administrador:</strong> <span th:text="${inmueble.administrador.nombre}"></span></p>
	
	                <a class="btn btn-primary mt-3" th:href="@{/inmuebles}">Volver</a>
	
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>