<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Registro de Cliente</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/RegistrarDesing.css}">
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div>
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}"><strong>Web de Reservas</strong></a>
			</div>
		</div>
	</nav>
	<br>

	<div>
		<div class="row">
			<h2 class="text-center">REGISTRO DE CLIENTE</h2>
			<br>
			<div class="containerRegistro form-horizontal">

				<!-- Mensaje de éxito de registro -->
				<div th:if="${exito}">
					<div class="alert alert-info" th:text="${exito}"></div>
				</div>

				<!-- Mensaje de confirmación de correo -->
				<div th:if="${correoEnviado}">
					<div class="alert alert-success" th:text="${correoEnviado}"></div>
				</div>

				<!-- Mensaje de error -->
				<div th:if="${error}">
					<div class="alert alert-danger" th:text="${error}"></div>
				</div>
				
				<div class="card-body">
					<form th:action="@{/registro}" th:object="${cliente}" method="post">
						<div>
							<label for="nombre">Nombre:</label> <input type="text"
								th:field="*{nombre}" class="form-control" required>
						</div>
						<br><br>

						<div>
							<label for="apellido">Apellido:</label> <input type="text"
								th:field="*{apellido}" class="form-control" required>
						</div>
						<br><br>

						<div>
							<label for="nroDocumento">Nro Documento:</label> <input
								type="text" th:field="*{nroDocumento}" class="form-control"
								required>
						</div>
						<br><br>

						<div>
							<label for="direccion">Dirección:</label> <input type="text"
								th:field="*{direccion}" class="form-control" required>
						</div>
						<br><br>

						<div>
							<label for="numeroTelf">Número de Teléfono:</label> <input
								type="text" th:field="*{numeroTelf}" class="form-control"
								required>
						</div>
						<br><br>

						<div>
							<label for="correo">Correo Electrónico:</label> <input
								type="email" th:field="*{correo}" class="form-control" required>
						</div>
						<br><br>

						<div>
							<label for="clave">Contraseña:</label> <input type="password"
								name="clave" class="form-control" required>
						</div>
						<br><br>

						<button type="submit" class="btn-submit">Registrarse</button>
						<br><br>
						
						<div class="back-link">
							<p>
								¿Ya tienes una cuenta? <a th:href="@{/login}"><strong>Inicia sesión</strong></a>
							</p>
						</div>
					</form>
				</div>
			</div>
			<br>
			<br>
		</div>
	</div>
</body>
</html>